.header{
    padding-top: 16px;
    padding-bottom: 16px;
}

.block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right{
    display: flex;
    align-items: center;
    gap: 58px;
}

.ul{
    display: flex;
    gap: 22px;
}

.right_block{
    display: flex;
    gap: 35px;
    align-items: center;
}

.right_ul{
    display: flex;
    gap: 25px;
}