.btn {
    transition: all 0.4s ease;
}

.primary {
    border-radius: 4px;
    background-color: var(--dark-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}

.secondry {
    border: 1px solid var(--blue);
    border-radius: 4px;
    background-color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: var(--blue);
}

.third{
    border-radius: 4px;
    background-color: var(--blue);
}

.small{
    padding: 14px;
}

.md{
    padding: 16px 26px;
}

.lg{
    padding: 14px 49px;
}

.bg{
    padding: 14px 74px;
}